# ===============================
# Python cache & compiled files
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual environments
# ===============================
venv/
.env/
.env.*

# ===============================
# Local databases / files
# ===============================
*.db
*.sqlite
*.sqlite3

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Editor files
# ===============================
.vscode/
.idea/

# ===============================
# Docker artifacts
# ===============================
*.pid
